<div class="main-page table-responsive" id="apply">
    <div class="alert alert-danger" role="alert" id="warning" style="display: none"></div>
    <h2>提交合作意向</h2>
    <div>
        <div class="form-group">
            <label for="inputName">商家名称</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="form-group">
            <label for="inputLinkman">联系人</label>
            <input type="text" class="form-control" id="inputLinkman">
        </div>
        <div class="form-group">
            <label for="inputTel">联系电话</label>
            <input type="text" class="form-control" id="inputTel">
        </div>
        <div class="form-group">
            <label for="inputNote">备注</label>
            <textarea class="form-control" rows="4" id="inputNote"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-submit">提交</button>
    </div>
</div>