
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<div class="jumbotron">
        <h1>服务器遇到了问题！</h1>
        <p>请联系。。。</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">前往主页</a></p>
</div>
</body>
</html>
