<div class="main-page table-responsive" id="index">
    <div class="jumbotron" id="div-banner">
        <img src="images/banner.png" class="img-responsive">
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        已发放优惠券统计
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th>目标机构</th>
                            <th>已发出优惠券数量</th>
                            <th>已使用优惠券数量</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tb-stats">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="display: none" id="div-detail">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        已发放优惠券明细
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th>客户</th>
                            <th>发放日期</th>
                        </tr>
                        </thead>
                        <tbody id="tb-coupons">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>