<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap-datetimepicker.min.css"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<p class="p-tip" style="display: none"></p>
<div class="container">
    {{#unless login}}
    <ul class="nav nav-pills">
        <li role="presentation" id="menu-index">
            <a href="/index">首页</a>
        </li>
        <li role="presentation" id="menu-check">
            <a href="/check">验证</a>
        </li>
        <li role="presentation" id="menu-generate">
            <a href="/generate">发放</a>
        </li>
        <li role="presentation" id="menu-partner">
            <a href="/partner">合作方</a>
        </li>
        {{#if admin}}
            <li role="presentation" class="dropdown" id="menu-manage">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    管理 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/corporation">机构</a></li>
                    <li><a href="/coupon">优惠券</a></li>
                    <li><a href="/user">用户</a></li>
                    <li><a href="/corprelation">机构合作关系</a></li>
                    <li><a href="/field">行业</a></li>
                    <li><a href="/tip">提示</a></li>
                </ul>
            </li>
        {{/if}}
        <li role="presentation" id="menu-logout" style="display: none">
            <a href="#" id="a-logout">退出登录</a>
        </li>
    </ul>
    {{/unless}}
    {{{body}}}
</div>
<div class="div-footer" style="display:none">
    <div>执尔（上海）信息科技有限公司<a target="_blank" href="http://www.miitbeian.gov.cn/"><img src="images/beian.png"/>沪ICP备17029303号</a></div>
</div>
<script src="javascripts/lib/require.js" data-main="javascripts/main.js"></script>
</body>
</html>
