<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>执尔科技</title>
    <link rel="stylesheet" href="stylesheets/framework7.ios.min.css">
    <link rel="stylesheet" href="stylesheets/framework7.ios.colors.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="views main-page" id="getCouponH5">
    <div class="view view-main">
        <div class="pages">
            <div data-page="getCouponH5" class="page">
                <div class="page-content">
                    <div class="content-block-title">亲爱的用户，您好！</div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-content-inner">看到此页面说明您的打开方式不正确，请重新扫描商家二维码，获取更多优惠。如有疑问，可联系您的商家。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>