<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>执尔科技</title>
    <link rel="stylesheet" href="stylesheets/framework7.ios.min.css">
    <link rel="stylesheet" href="stylesheets/framework7.ios.colors.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="views main-page" id="getCouponH5">
    <div class="view view-main">
        <div class="pages">
            <div data-page="tipH5" class="page">
                <div class="page-content">
                    <div class="page" data-page="getCouponH5">
                        <div class="page-content">
                            <div class="card demo-card-header-pic" style="width: 300px; margin: 50px auto">
                                <div style="background-image:url(images/openfail.jpg); background-size: contain; height: 230px; width: 300px;"
                                     valign="bottom" class="card-header color-white no-border">
                                </div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <p>
                                            亲爱的用户，您好！看到此页面说明您的打开方式不正确，请重新扫描商家二维码，获取更多优惠。如果您已获得过优惠码，请关闭页面。如有其它疑问，可联系您的商家。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
